<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <h3>Enter the word or phrase you'd like to Pig Latinize:</h3>
    <form method="post" action="/piglatinize">
      <p><input type="text" id="text" name="text"></input></p>
      <p><button type="submit" value="submit">Piglatinize Me!</button></p>
    </form>

  </body>
</html>